name: Publish Pypi
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build and publish to pypi
      uses: JRubics/poetry-publish@v1.8
      with:
        pypi_token: ${{ secrets.PYPI_TOKEN }}
    - name: Publish
      uses: softprops/action-gh-release@v1
      with:
        body: '[More see Changlog](https://github.com/sns-sdks/python-facebook/blob/master/CHANGELOG.md)'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
